#box{
	background-color: #999999;
	width: 1440px;
	height: 1800px;
	background-image: url(../img/wenxuan.jpg);
	background-repeat:no-repeat;
	margin: 0 auto;
	position: relative;
}
#box02{
	position: absolute;
	top: 500px;left: 100px;
	width: 1250px;
	height: 420px;
	/*background-color: #cccccc;*/
	margin: 0 auto;
	box-shadow: 4px 8px 14px #111111;
}
body{
	background-color: #cccccc;
}
#box03{
	width: 300px;
	height: 420px;
	/*background-color: #888888;*/
	position: absolute;
}
#box03 ul{
	width: 300px;
	height: 420px;
	/*background-color: #888888;*/
	margin: 0 0 0 0;padding: 0 0 0 0;
}
#box03 ul li{
	width: 300px;
	height: 60px;
	/*background-color: #999999;*/
	list-style: none;
	font-size: 25px;
	line-height: 60px;
	text-align: center;
}
#box03 ul li a{
	text-decoration: none;
	width: 300px;
	height: 60px;
	color: #FFFFFF;display: block;
	line-height: 60px;
	text-align: center;
}
#box03 ul li a:hover {
	color: #000000;
	background-color: #ffffff;
}
#img_style
{
	position: absolute;
	right: 0px;top: 0px;
	width: 950px;
	height: 420px;
	/*background-color: #777777;*/
}
#img_style p{
	width: 950px;height: 30px;
	background-color: #666666;
	position: absolute;
	text-align: center;
	line-height: 30px;
	opacity: 0.4;
	color: #ffffff;
}
#img_style ul{
	width: 200px;
	height: 15px;
	position: absolute;
	bottom: 30px;
	right: 400px;
	line-height: 30px;
}
#img_style ul li{
	margin-top: 3px;
	float: left;
	list-style: none;
	width: 10px;height: 10px;
	margin-left: 20px;
	opacity: 0.6;
	background-color: #000000;
}
#img_style .action{
	margin-top: 0px;
	width: 15px;
	height: 15px;
	background-color: #ffff00;
	opacity: 0.9;
}
#p1{
	margin-top: 0px;
	top: 0px;left: 0px;
}
#p2{
	margin-bottom: 0px;
	bottom: 0px;left: 0px;
}
#box_time{
	width: 1440px;height: 500px;
	/*background-color: #444444;*/
}
#box_time p{
	color: #ffffff;
}
.time_p1{
	height: 80px;line-height: 40px;
	font-size: 40px;
	position: absolute;
	left: 50px;top: 30px;
}
.time_p2{
	height: 50px;line-height: 50px;
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 100px;top: 100px;
}
.time_p3{
	margin-top: 0px;margin-bottom: 0px;
	box-shadow: 4px 6px 10px #111111;
	width:600px;height: 100px;
	font-size: 20px;
	/*background-color: #cccccc;*/
	line-height: 100px;
	position: absolute;left: 600px;top: 350px;
}
.time_p3 span{
	height: 60px;
	font-size: 30px;
	background-color: #ffffff;color: #000000;
}
.week{
	width: 200px;height: 60px;margin-left: 20px;
	/*position: absolute;right: 0px;top: 0px;*/
}
.guanwang{
	/*background-color: #666666;*/
	height: 50px;font-size: 18px;line-height: 50px;
	position: absolute;right: 10px;top: 10px;
}
.guanwang a{
	background-color: #ffffff;color: #000000;font-size: 25px;line-height: 30px;text-decoration: none;
	height: 30px;
}
#mainBody{
	width: 1440px;height: 800px;/*background-color: #999999;*/
	position: absolute;left: 0px;top: 950px;
}
.newSchool{
	position: absolute;left: 450px;top: 70px;z-index: 1;
	width: 750px;height: 60px;
	box-shadow: 2px 4px 10px #444444;
	/*background-color: #666666;*/
	color: #ffffff;
}
/*.newSchool span{
	font-size: 20px;
	line-height: 60px;text-align: center;
	height: 60px;width: 150px;float: left;
	position: relative;
}
.newSchool span a{text-decoration: none;color: #FFFFFF;display: block;width: 150px;height: 60px;}
.newSchool span a:hover{color: #000000;}
.newSchool span:hover{
	background-color: #ffffff;color: #000000;
}*/
.caidan{
	width: 750px;height: 60px;
	margin-top: 0px;margin-bottom: 0px;padding-left: 0px;
}
.caidan>li{
	width: 150px;height: 60px;float: left;/*background-color: #666666;*/list-style: none;margin: 0;
}
.caidan>li>a{
	width: 150px;height: 60px;color: #FFFFFF;text-decoration: none;display: block;text-align: center;line-height: 60px;
	font-size: 20px;font-weight: 600;
}
.caidan>li>a:hover{
	background-color: #ffffff;color: #000000;
}
#mainBody ul{
	position: absolute;
}
.caidan ul{padding-left: 0px;position: absolute;}
.yiSHi{width: 150px;height: auto;left: 0px;top: 60px;display:none;box-shadow: 2px 4px 6px #444444;}
.li_yishi:hover .yiSHi{
	display: block;
	}
.yiSHi li{
	font-size: 15px;
    text-align: center;line-height: 40px;
	width: 150px;height: 40px;
	list-style: none;
	background-color: #ffffff;color: #000000;
	}
.yiSHi li a{width: 150px;height: 40px;display: block;text-decoration: none;color: #000000;}
.yiSHi li a:hover{background-color: #999999;color: #FFFFFF;}
.huoDong{top: 60px;left: 150px;width: 150px;height: auto;display: none;box-shadow: 2px 4px 6px #444444;}
.li_huodong:hover .huoDong{
	display: block;
}
.huoDong li{
	font-size: 15px;
    text-align: center;line-height: 40px;
	width: 150px;height: 40px;
	list-style: none;
	background-color: #ffffff;color: #000000;
	}
.huoDong li a{width: 150px;height: 40px;display: block;text-decoration: none;color: #000000;}
.huoDong li a:hover{background-color: #999999;color: #FFFFFF;}
.gongZuo{top: 60px;left: 300px;width: 150px;height: auto;display: none;box-shadow: 2px 4px 6px #444444;}
.li_gongzuo:hover .gongZuo{
	display: block;
}
.gongZuo li{
	font-size: 15px;
    text-align: center;line-height: 40px;
	width: 150px;height: 40px;
	list-style: none;
	background-color: #ffffff;color: #000000;
	}
.gongZuo li a{width: 150px;height: 40px;display: block;text-decoration: none;color: #000000;}
.gongZuo li a:hover{background-color: #999999;color: #FFFFFF;}
.qiRen{top: 60px;left: 450px;width: 150px;height: auto;display: none;box-shadow: 2px 4px 6px #444444;}
.li_qiren:hover .qiRen{display: block;}
.qiRen li{
	font-size: 15px;
    text-align: center;line-height: 40px;
	width: 150px;height: 40px;
	list-style: none;
	background-color: #ffffff;color: #000000;
	}
.qiRen li a{width: 150px;height: 40px;display: block;text-decoration: none;color: #000000;}
.qiRen li a:hover{background-color: #999999;color: #FFFFFF;}
.ziXun{top: 60px;left: 600px;width: 150px;height: auto;display: none;box-shadow: 2px 4px 6px #444444;}
.li_zixun:hover .ziXun{
	display: block;
}
.ziXun li{
	font-size: 15px;
    text-align: center;line-height: 40px;
	width: 150px;height: 40px;
	list-style: none;
	background-color: #ffffff;color: #000000;
	}
.ziXun li a{width: 150px;height: 40px;display: block;text-decoration: none;color: #000000;}
.ziXun li a:hover{background-color: #999999;color: #FFFFFF;}
.SchoolNew{
	width: 1200px;height: 500px;/*background-color: #CCCCCC;*/margin: 0 0 0 0;
	position: absolute;left: 150px;top: 280px;z-index: 0;
}
.new_Imge{
	width: 450px;height: 250px;/*background-color: #666666;*/
	position: absolute;top: 30px;left: 40px;
}
.new_Imge .li_action{
	width: 20px;height: 10px;background-color: #ff0000;
}
.new_Imge ul{
	width: 180px;height: 10px;position: absolute;left: 120px;bottom: 20px;margin: 0 0 0 0;padding: 0 0 0 0;
}
.new_Imge ul li{
	float: left;width: 20px;height: 10px;
	background-color: #FFFFFF;list-style: none;margin-left: 10px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;
}
.new_Imge p{
	margin: 0 0 0 0;
}
.New_01{
	width: 370px;height: 180px;/*background-color: #666666;*/
	position: absolute;top: 300px; left: 60px;
}
.New_01 ul{
	width: 370px;height: 180px;margin: 0 0 0 0;padding: 0 0 0 0;
}
.New_01 ul li{
	width: 370px;height: 30px;line-height: 30px;list-style: none;
}
.New_01 ul li a{
	width: 370px;height: 30px;line-height: 30px;text-decoration: none;color: #FFFFFF;display: block;
}
.New_01 ul li a:hover{
	background-color: #FFFFFF;color: #000000;
}
.New_02{
	width: 680px;height: 430px;/*background-color: #444444;*/
	position: absolute;top: 30px;left: 500px;
}
.New_02 ul{
	width: 680px;height: 430px;padding: 0 0 0 0;margin: 0 0 0 0;
}
.New_02 ul li{
	width: 680px;height: 70px;list-style: none;margin-top: 1px;border-top: dashed 2px #aaaaaa;
}
.New_02 ul li a:hover{
	background-color: #FFFFFF;color: #000000;
}
.New_02 ul li a{
	width: 680px;height: 70px;text-decoration: none;color: #FFFFFF;line-height: 70px;text-align: center;display: block;
	font-size: 15px;
}
.New_02 .jiazai a{
	background-color: #FFFFFF;color: #000000;font-weight: 600;font-size: 17px;
}
.new_Imge_1{
	position: absolute;top: 0px;left: 0px;opacity: 0.7;
	color: #ffffff;background-color: #999999;
	width: 450px;height: 20px;text-align: center;line-height: 15px;
}
.new_Imge_2{
	position: absolute;bottom: 0px;left: 0px;opacity: 0.7;
	color: #ffffff;background-color: #999999;
	width: 450px;height: 20px;text-align: center;line-height: 15px;
}
.New_title{
	width: 300px;height: 180px;/*background-color: #AAAAAA;*/color: #FFFFFF;font-size: 60px;line-height: 180px;text-align: center;
	position: absolute;top: 70px;left: 50px;
}
.long{
	width: 280px;height: 40px;/*background-color: #AAAAAA;*/display: block;
	margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;
	position: absolute;top: 20px;left: 50px;line-height: 40px;color: #FFFFFF;
	font-weight: 600px;font-size: 20px;
}
.long a{
	display: block;;text-decoration: none;color: #000000;line-height: 40px;text-align: center;
	background-color: #FFFFFF;
}
.english{
	height: 40px;width: 80px;position: absolute;left: 80px;top: 0px;
}
.china{
	height: 40px;width: 80px;position: absolute;left: 170px;top: 0px;
}
